.postContainer {
  margin: 7rem auto auto auto;
  display: flex;
  justify-content: center;
}

.postsListLoadMore {
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary-light);
  color: var(--color-primary);
  padding: 1.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin: 0 2rem;

}
.postsListLoadMoreIcon {
  margin-right: 0.5rem;
}
