*{
    margin: 0;
    padding: 0;
    
}
:root{

    --color-primary: #E3472F;
    --color-secondary: #3D3D3D;
    --color-tertiary: #B4B4B4;
    --color-tertiary-light: #F6F6F6;
    --color-gray-200:#DDD;
    --color-gray-300:#cccccc;
    --color-white: #FFF;
    --color-badge-green: #00e1ac;
    --color-badge-blue: #00bbff;
    --color-badge-purple: #4372d6;
    --color-badge-yellow: #F4973C;
    --color-facebook: #4267b2;
    --color-twitter: #1da1f2;
}   

body{
    font-family: 'IBM Plex Sans', sans-serif;
}